/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Libre+Baskerville:wght@400;700&family=Playfair+Display:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-libre {
  font-family: 'Libre Baskerville', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}



.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}